/* vim: set fdm=marker: */

/* {{{ Fonts */

body {
    font-family: Arial, sans-serif;
}

.title {
    font-size: 3em;
    font-family: "Courier New", Courier, monospace;
}

.subtitle {
    font-size: 1.25em;
    font-weight: normal;
    font-style: italic;
    letter-spacing: 1.5px;
}

article h1 {
    font-size: 2.5em;
}

/* }}} */

/* {{{ Themes (Colors, Images, Etc.) */

body {
    background: silver;
    color: #454545;
}

div.container {
    background: seashell;
}

header.banner {
    background-color: white;
    background-image: url('banner-bg.jpg');
    background-position: 80% 60%;
}

header.banner h1 {
    background: #222;
    color: silver;
    font-weight: normal;

    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(34,34,34,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(34,34,34,1)));
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(34,34,34,1) 100%);
    background: -o-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(34,34,34,1) 100%);
    background: -ms-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(34,34,34,1) 100%);
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(34,34,34,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#222222',GradientType=1 );
}

header.banner img {
    width: 125px;

    position: relative;
    top: 90px;
    right: 4px;
}

.alt, article h1, article h2 {
    color: #AE3D3A;
}

header.banner .subtitle {
    display: none;
}

.code, code {
    font-size: 1.2em;
    font-family: monospace;
    background: #DDD;
}

code {
    padding: 1px;
}

.code {
    border: 1px solid #CCC;
    border-width: 1px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* }}} */

/* {{{ Breathing Room */

.title, .subtitle {
    padding-right: 120px;
}

article p {
    line-height: 1.35em;
}

main.content {
    padding-bottom: 150px;
}

/* }}} */

/* {{{ Layout */

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;

    min-height: 100%;
}

div.container {
    height: 100%;
    width: 980px;
    margin: 0px auto;
    padding: 0px 0px;

    overflow: auto;
}

header.banner {
    overflow: auto;
    text-align: right;
    padding-top: 125px;
}

main.content {
    overflow: auto;
}

article header {
    overflow: auto;
}

article h1, article h2, article p {
    padding: 0px 60px;
}


/* }}} */

/* {{{ Anchor Overrides */

a.header-link {
    color: inherit;
    text-decoration: none;
}

article a header:hover {
    color: black;
    background: white;
}

/* }}} */

article header, article {
    border-bottom: 1px solid #c0c0c0;
}
